Script to calculate the equivalent GloFAS thresholds compared to the observed thresholds. Uses GloFAS reanalysis data from 1979. Uses quantile mapping approach to map values between the observed and reanalysis dataset.

In [1]:
# import relevant packages
import numpy as np
import pandas as pd
from scipy import stats
import os

In [2]:
# define country and directory
country = 'mozambique'
directory = '/s3/scratch/jamie.towner/flood_aa'

output_directory = os.path.join(directory, country, "outputs/thresholds")
os.makedirs(output_directory, exist_ok=True)  # create directory if it does not already exist

In [9]:
# define paths to data
metadata_directory = os.path.join(directory, country, "data/metadata")
observed_data_directory = os.path.join(directory, country, "data/observations/gauging_stations/all_stations")
reanalysis_data_directory = os.path.join(directory, country, "data/forecasts/glofas_reanalysis/all_stations")

observed_data_file = "observations_complete_series.csv"
reanalysis_data_file = "glofas_reanalysis_complete_series.csv"
station_info_file = "metadata_observations.csv"

# load data
observed_data_path = os.path.join(observed_data_directory, observed_data_file)
reanalysis_data_path = os.path.join(reanalysis_data_directory, reanalysis_data_file)
station_info_path = os.path.join(metadata_directory, station_info_file)

observed_data = pd.read_csv(observed_data_path)
reanalysis_data = pd.read_csv(reanalysis_data_path)
station_info = pd.read_csv(station_info_path)

In [10]:
# convert date columns to datetime
observed_data["date"] = pd.to_datetime(observed_data["date"], format='mixed')
reanalysis_data["date"] = pd.to_datetime(reanalysis_data["date"], format='mixed')
station_info['obs_bankfull'] = pd.to_numeric(station_info['obs_bankfull'], errors='coerce')
station_info['obs_moderate'] = pd.to_numeric(station_info['obs_moderate'], errors='coerce')
station_info['obs_severe'] = pd.to_numeric(station_info['obs_severe'], errors='coerce')

In [13]:
# Remove leading/trailing whitespace from metadata station names
station_info['station name'] = ["".join(c for c in name if c.isalnum() or c in (' ', '_')).replace(' ', '_') for name in station_info['station name']]

# Remove whitespace from observed and reanalysis data columns
observed_data.columns = observed_data.columns.str.strip()
reanalysis_data.columns = reanalysis_data.columns.str.strip()

In [14]:
# initialize list to store results
results = []

# loop over each station and threshold in metadata
for index, row in station_info.iterrows():
    station = row['station name']
    
    # skip station if any threshold is missing (NaN)
    if pd.isna(row['obs_bankfull']) or pd.isna(row['obs_moderate']) or pd.isna(row['obs_severe']):
        continue
    
    # get observed and reanalysis data for the station
    data_observed = observed_data[station].dropna().values
    data_reanalysis = reanalysis_data[station].dropna().values

    # standardize both datasets (z-score normalization)
    obs_mean, obs_std = np.mean(data_observed), np.std(data_observed)
    reanalysis_mean, reanalysis_std = np.mean(data_reanalysis), np.std(data_reanalysis)

    z_observed = (data_observed - obs_mean) / obs_std
    z_reanalysis = (data_reanalysis - reanalysis_mean) / reanalysis_std

    # define thresholds to loop over
    thresholds = {
        'obs_bankfull': row['obs_bankfull'],
        'obs_moderate': row['obs_moderate'],
        'obs_severe': row['obs_severe']
    }

    # loop over each threshold
    for threshold_name, threshold_value in thresholds.items():
        # convert threshold to z-score in observed data space
        z_threshold = (threshold_value - obs_mean) / obs_std

        # get percentile rank of threshold in observed data
        percentile_rank_observed = stats.percentileofscore(z_observed, z_threshold)

        # ensure percentiles are within valid range
        percentile_rank_observed = max(0, min(percentile_rank_observed, 100))

        # interpolate the corresponding value in reanalysis data
        percentiles = np.linspace(0, 100, len(z_reanalysis))
        z_mapped = np.interp(percentile_rank_observed, percentiles, np.sort(z_reanalysis))

        # convert back to the original reanalysis scale
        value_reanalysis = (z_mapped * reanalysis_std) + reanalysis_mean

        # store results
        results.append({
            'station': station,
            'threshold_name': threshold_name,
            'threshold_value': threshold_value,
            'percentile_rank_observed': percentile_rank_observed,
            'value_reanalysis': value_reanalysis
        })

# convert results to a dataframe and print
results_df = pd.DataFrame(results)
results_df

,station,threshold_name,threshold_value,percentile_rank_observed,value_reanalysis
0,Limpopo_em_Mapai,obs_bankfull,4.365000,98.092426,985.165442
1,Limpopo_em_Mapai,obs_moderate,5.550667,99.670716,4256.715563
2,Limpopo_em_Mapai,obs_severe,6.377333,99.897809,6128.158339
3,Limpopo__Combomune,obs_bankfull,4.500000,94.933185,383.495024
4,Limpopo__Combomune,obs_moderate,7.452000,99.653551,4238.880464
5,Limpopo__Combomune,obs_severe,8.418000,99.863895,5839.625824
6,Limpopo_em_Chokwe,obs_bankfull,5.000000,97.665285,1187.666264
7,Limpopo_em_Chokwe,obs_moderate,7.110000,99.594152,4797.012057
8,Limpopo_em_Chokwe,obs_severe,7.674667,99.786166,6356.340579
9,Limpopo_em_Sicacate,obs_bankfull,6.000000,91.952828,426.607727
10,Limpopo_em_Sicacate,obs_moderate,10.174000,98.948432,2594.874032
11,Limpopo_em_Sicacate,obs_severe,10.632000,99.471245,3953.142422
12,Limpopo_em_Mabalane,obs_bankfull,5.483333,96.924356,668.175784
13,Limpopo_em_Mabalane,obs_moderate,7.938667,99.406246,3046.140923
14,Limpopo_em_Mabalane,obs_severe,8.404333,99.762499,4815.956713
15,Changane_em_Chibuto,obs_bankfull,1.495000,65.385506,5.406250
16,Changane_em_Chibuto,obs_moderate,3.543333,94.049549,20.687838
17,Changane_em_Chibuto,obs_severe,6.762500,98.078259,23.666365
18,Limpopo_em_Macaretane,obs_bankfull,97.543333,97.923677,1333.682824
19,Limpopo_em_Macaretane,obs_moderate,98.665333,99.563256,4436.612990
20,Limpopo_em_Macaretane,obs_severe,99.039000,99.663493,5299.260088
21,Zambeze_em_Marromeu_Sena_Sugar,obs_bankfull,6.000000,96.549818,10926.978153
22,Zambeze_em_Marromeu_Sena_Sugar,obs_moderate,6.738667,98.728298,13640.152570
23,Zambeze_em_Marromeu_Sena_Sugar,obs_severe,6.984000,99.071105,14232.025724
24,Chire_em_Vila_Bocage,obs_bankfull,7.500000,89.071397,2123.491380
25,Chire_em_Vila_Bocage,obs_moderate,9.474000,98.379325,2681.555734
26,Chire_em_Vila_Bocage,obs_severe,10.245000,99.518178,3199.367280
27,Zambeze_em_Caia_SS,obs_bankfull,6.000000,95.765294,10353.379281
28,Zambeze_em_Caia_SS,obs_moderate,6.940000,98.805752,13671.873096
29,Zambeze_em_Caia_SS,obs_severe,7.610000,99.329759,14928.990282
30,Revubue_em_Chingodzi,obs_bankfull,5.000000,99.818108,885.475767
31,Revubue_em_Chingodzi,obs_moderate,5.232667,99.865265,1038.767701
32,Revubue_em_Chingodzi,obs_severe,5.662000,99.939369,1615.997398
33,Zambeze_em_Zumbo,obs_bankfull,1731.700000,98.057285,9729.033880
34,Zambeze_em_Zumbo,obs_moderate,2064.140000,99.551681,12049.736559
35,Zambeze_em_Zumbo,obs_severe,2099.090000,99.651308,12461.238187
36,Zambeze_em_Tete,obs_bankfull,5.500000,97.390694,346.158963
37,Zambeze_em_Tete,obs_moderate,6.498667,99.309245,534.149874
38,Zambeze_em_Tete,obs_severe,6.806000,99.582511,652.971089
39,LuenhaLuenha_I,obs_bankfull,9.133333,98.427545,421.015142
40,LuenhaLuenha_I,obs_moderate,10.758000,99.783110,1679.793081
41,LuenhaLuenha_I,obs_severe,11.280000,99.918666,2253.061178

In [15]:
# save output as a csv 
results_df.to_csv(os.path.join(output_directory, "glofas_return_periods_complete_series.csv"), index=True)

In [16]:
results_df.pivot_table(index='station',columns='threshold_name',values='value_reanalysis')

threshold_name                  obs_bankfull  obs_moderate    obs_severe
station
Changane_em_Chibuto                 5.406250     20.687838     23.666365
Chire_em_Vila_Bocage             2123.491380   2681.555734   3199.367280
Limpopo__Combomune                383.495024   4238.880464   5839.625824
Limpopo_em_Chokwe                1187.666264   4797.012057   6356.340579
Limpopo_em_Mabalane               668.175784   3046.140923   4815.956713
Limpopo_em_Macaretane            1333.682824   4436.612990   5299.260088
Limpopo_em_Mapai                  985.165442   4256.715563   6128.158339
Limpopo_em_Sicacate               426.607727   2594.874032   3953.142422
LuenhaLuenha_I                    421.015142   1679.793081   2253.061178
Revubue_em_Chingodzi              885.475767   1038.767701   1615.997398
Zambeze_em_Caia_SS              10353.379281  13671.873096  14928.990282
Zambeze_em_Marromeu_Sena_Sugar  10926.978153  13640.152570  14232.025724
Zambeze_em_Tete                   346.158963    534.149874    652.971089
Zambeze_em_Zumbo                 9729.033880  12049.736559  12461.238187