In [84]:
import pandas as pd
import numpy as np

# set column fixed widths
col_widths = [14] + [9]*12

# read the .OUT file, skipping the first 13 rows of station info
df = pd.read_fwf(
    '/s3/scratch/jamie.towner/flood_aa/zimbabwe/data/observations/raw_data/F22D.OUT',
    widths=col_widths,
)

# get month column names
columns = ['Day'] + list(df.iloc[8].values[1:]) + ['Year']

# add year column
df['Year'] = ""
for l in range(5,len(df),51):
    start = l+4
    end = l+4+31
    df.loc[start:end,'Year'] = "".join(df.iloc[l].values[6:8])

# read the first 31 out of every 52 rows
def get_rows_to_skip(df, n, start, end, flen):
    rows_to_skip = [i for i in range(flen) if i % n < start or i % n >= end]
    return rows_to_skip

n = 51
start = 9
end = 40
flen = len(df)

skiprows = get_rows_to_skip(df, n, start, end, flen)

# get only rows that are not skipped
df2 = df[~df.index.isin(skiprows)]

# set column name to months and index to year and day
df2.columns = columns
df2 = df2.set_index(['Year','Day'])

df2.head(40)

                  OCT     NOV     DEC     JAN     FEB      MAR     APR  \
Year      Day
2002/2003 1     3.340  39.120   5.740   6.500  65.190   43.790  50.730
          2     3.380  13.780   5.650  10.590  58.360   24.730  43.580
          3     3.420  10.900   5.450  13.200  34.020   18.280  41.530
          4     3.460  10.720   5.250  13.150  19.260   17.060  39.590
          5     3.660  14.530   5.070  30.120  32.450   16.070  49.280
          6     4.040  36.220   4.980  33.120  18.890   15.830  58.470
          7     4.420  59.820   4.890  14.250  16.950  239.450  52.280
          8     4.810  59.500   4.720  11.850  15.610  662.010  45.060
          9     5.190  40.730   4.980  11.140  14.370  332.140  38.600
          10    5.570  33.050   5.660  29.280  17.850  108.160  25.350
          11    5.950  33.750   6.450  90.380  19.860   69.130  18.390
          12    5.770  17.840   6.620  73.230  18.110   60.180  31.880
          13    5.170  15.860   5.950  52.450  15.960   50.180  38.820
          14    4.800  13.530   6.030  59.800  14.320   43.400  29.020
          15    4.450  11.670   7.420  35.090  17.360   53.230  51.860
          16    4.180   9.240   6.310  18.970  28.850   67.460  35.640
          17    3.940   7.120  14.480  16.080  31.700   63.410  20.300
          18    3.700   6.470  18.580  13.860  15.660   64.330  19.380
          19    3.670   5.810  16.860  12.640  14.580   58.080  19.750
          20    3.780   5.140  15.110  12.580  14.750   60.640  20.500
          21    3.780   4.680  16.880  12.660  14.620   72.000  19.680
          22    3.720   4.300  14.280  12.040  15.780   51.590  18.610
          23    3.620   4.780  12.150  12.110  20.200   63.170  17.810
          24    5.740   6.750  11.790  11.210  19.150   54.700  17.250
          25    4.330   7.110  11.960  10.600  64.950   52.710  16.900
          26    3.760   6.560  11.010  10.740  50.120  210.020  16.890
          27    3.620   6.020   9.400  10.870  55.210  304.310  16.520
          28    3.550   5.580   7.450  11.010  59.970  163.690  15.560
          29    3.550   4.990   6.870  11.150     NaN  125.130  15.200
          30    6.430   5.130   6.540  11.290     NaN   89.210  14.860
          31   36.290     NaN   6.260  11.420     NaN   63.510     NaN
2003/2004 1     0.000   0.000   0.000   0.580   6.860  165.790   2.850
          2     0.000   0.000   0.000   0.550   5.700  103.980   3.020
          3     0.000   0.000   0.000   0.510   4.540   42.170   3.190
          4     0.000   0.000   0.000   0.480   3.380   10.930   3.350
          5     0.000   0.000   0.000   0.440   2.640   13.270   3.520
          6     0.000   0.000   0.000   0.410   2.350   15.630   3.680
          7     0.000   0.000   0.000   0.370   2.060   17.990   3.850
          8     0.000   0.000   0.000   0.350   1.770   20.350   4.100
          9     0.000   0.000   0.000   0.350   1.490   22.700   4.450

                  MAY     JUN    JUL    AUG    SEP
Year      Day
2002/2003 1    14.300  13.310  0.770  6.810  0.000
          2    13.950  11.890  0.080  6.700  0.000
          3    13.800  11.020  0.460  6.590  0.000
          4    13.650  10.500  0.740  6.480  0.000
          5    13.160   9.960  0.490  6.370  0.000
          6    12.650   9.680  0.240  6.370  0.000
          7    12.640   9.740  0.230  6.470  0.000
          8    12.650   9.690  0.950  3.450  0.000
          9    12.160   9.160  0.550  0.000  0.000
          10   11.080  12.690  0.050  0.000  0.000
          11   10.550  16.110  0.600  0.000  0.000
          12   10.730  13.760  0.150  0.000  0.000
          13   10.410  12.500  0.890  0.000  0.000
          14   10.400  12.330  0.060  0.000  0.000
          15   27.920  12.020  0.600  0.000  0.630
          16   42.500  11.810  0.220  0.000  0.050
          17   14.070  12.600  0.070  0.000  0.000
          18   13.840  12.340  0.100  0.000  0.000
          19   14.330  11.840  0.970  0.000  0.000
          20   13.630  11.360  0.850  0.000  0.000
          21   13.110   9.830  0.960  0.000  0.000
          22   12.460   9.800  0.100  0.000  0.000
          23   11.740   9.290  0.850  0.000  0.000
          24   10.710   9.370  0.610  0.000  0.000
          25    9.780   9.320  0.490  0.000  0.000
          26    9.360   9.660  0.380  0.000  0.000
          27    9.090   9.980  0.260  0.000  0.000
          28    8.830  13.520  0.150  0.000  0.000
          29    8.560  14.400  0.030  0.000  0.000
          30   31.850  13.670  0.020  0.000  0.000
          31   12.800     NaN  0.920  0.000    NaN
2003/2004 1     1.470   0.530  0.000  0.000  0.000
          2     1.400   0.620  0.000  0.000  0.000
          3     1.330   0.620  0.000  0.000  0.000
          4     1.260   0.520  0.000  0.000  0.000
          5     1.190   0.430  0.000  0.000  0.000
          6     0.870   0.330  0.000  0.000  0.000
          7     0.520   0.240  0.000  0.000  0.000
          8     0.460   0.140  0.000  0.000  0.000
          9     0.400   0.050  0.000  0.000  0.000

In [85]:
# Replace '*' with NaN (assuming df2 is your dataframe)
df2.replace('*', np.nan, inplace=True)

# Step 1: Reset the index to make 'Day' a column
df2_reset = df2.reset_index()

# Step 2: Melt the DataFrame to long format
df_long = df2_reset.melt(id_vars=['Year', 'Day'], var_name='Month', value_name='Discharge')

# Step 3: Map month names to numbers, starting from October (OCT = 10, etc.)
month_map = {
    'OCT': 10, 'NOV': 11, 'DEC': 12, 'JAN': 1, 'FEB': 2, 'MAR': 3,
    'APR': 4, 'MAY': 5, 'JUN': 6, 'JUL': 7, 'AUG': 8, 'SEP': 9
}
df_long['Month_num'] = df_long['Month'].map(month_map)

# Step 4: Extract the starting year from the "Year" column
df_long['Start_Year'] = df_long['Year'].str.split('/').str[0].astype(int)

# Step 5: Adjust the year for Jan-Sep (shift by 1 year)
df_long['Adjusted_Year'] = df_long.apply(lambda row: row['Start_Year'] if row['Month_num'] >= 10 else row['Start_Year'] + 1, axis=1)

# Step 6: Manually set the first date as 01/10/1959 and handle subsequent dates.
def create_date(row):
    if row['Month_num'] == 10 and row['Day'] == 1 and row['Adjusted_Year'] == 1959:
        # Explicitly set the first date
        return pd.to_datetime("1959-10-01")
    else:
        try:
            # Calculate the exact date based on the Year, Month, and Day
            date_str = f"{row['Adjusted_Year']}-{row['Month_num']}-{row['Day']}"
            date = pd.to_datetime(date_str, errors='coerce')  # Handle invalid dates
            return date
        except Exception as e:
            print(f"Error with row {row}: {e}")
            return pd.NaT  # Return NaT for invalid rows

# Step 7: Apply the function to create the date column
df_long['Date'] = df_long.apply(create_date, axis=1)

# Step 8: Remove rows where Date is NaT (invalid date rows)
df_long = df_long.dropna(subset=['Date'])

# Step 9: Sort by Date to ensure chronological order
df_long.sort_values(by='Date', inplace=True)

# Step 10: Reset index after sorting
df_long.reset_index(drop=True, inplace=True)

pd.set_option('display.max_rows', 5000)
# Step 11: Print the first few rows to verify
#print(df_long[['Date', 'Discharge']].head(100))

df_long = df_long[['Date', 'Discharge']]

In [86]:
# Get the first date in df_long
#start_date = df_long['Date'].min()
start_date = '2003-01-01'
end_date = '2023-12-31'

# Define full date range from start to end
full_date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a new DataFrame with the full date range
df_complete = pd.DataFrame({'Date': full_date_range})

# Select only the necessary columns from the original DataFrame
df_filtered = df_long[['Date', 'Discharge']]

# Merge to insert missing dates and fill with NaN
df_filtered = pd.merge(df_complete, df_filtered, on='Date', how='left')

In [87]:
# Define full date range from start to end
full_date_range = pd.date_range(start='2003-01-01', end='2023-12-31', freq='D')

# Filter to include only October–April months
oct_apr_range = full_date_range[full_date_range.month.isin([10, 11, 12, 1, 2, 3, 4])]

# Create a new DataFrame with the full Oct–Apr date range
df_complete = pd.DataFrame({'Date': oct_apr_range})

# Merge with your filtered df_long to fill missing dates with NaN
df_filtered = df_long[['Date', 'Discharge']]
df_filtered = pd.merge(df_complete, df_filtered, on='Date', how='left')

In [90]:
df_filtered.loc[:, 'Discharge'] = pd.to_numeric(df_filtered['Discharge'], errors='coerce')
count = (df_filtered['Discharge'] >= 545 ).sum()
print(f"Number of times 'Discharge' >= thresold: {count}")

Number of times 'Discharge' >= thresold: 2

In [14]:
# Total number of values in the 'Discharge' column
total_values = df_filtered['Discharge'].size

# Total number of missing values in the 'Discharge' column
missing_values = df_filtered['Discharge'].isna().sum()

# Percentage of missing values
missing_percentage = (missing_values / total_values) * 100

result = 100 - missing_percentage

print(f"Percentage of : {result:.2f}%")

Percentage of : 48.49%

In [130]:
df_filtered.tail(50)

           Date Discharge
4407 2023-11-12       NaN
4408 2023-11-13       NaN
4409 2023-11-14       NaN
4410 2023-11-15       NaN
4411 2023-11-16       NaN
4412 2023-11-17       NaN
4413 2023-11-18       NaN
4414 2023-11-19       NaN
4415 2023-11-20       NaN
4416 2023-11-21       NaN
4417 2023-11-22       NaN
4418 2023-11-23       NaN
4419 2023-11-24       NaN
4420 2023-11-25       NaN
4421 2023-11-26       NaN
4422 2023-11-27       NaN
4423 2023-11-28       NaN
4424 2023-11-29       NaN
4425 2023-11-30       NaN
4426 2023-12-01       NaN
4427 2023-12-02       NaN
4428 2023-12-03       NaN
4429 2023-12-04       NaN
4430 2023-12-05       NaN
4431 2023-12-06       NaN
4432 2023-12-07       NaN
4433 2023-12-08       NaN
4434 2023-12-09       NaN
4435 2023-12-10       NaN
4436 2023-12-11       NaN
4437 2023-12-12       NaN
4438 2023-12-13       NaN
4439 2023-12-14       NaN
4440 2023-12-15       NaN
4441 2023-12-16       NaN
4442 2023-12-17       NaN
4443 2023-12-18       NaN
4444 2023-12-19       NaN
4445 2023-12-20       NaN
4446 2023-12-21       NaN
4447 2023-12-22       NaN
4448 2023-12-23       NaN
4449 2023-12-24       NaN
4450 2023-12-25       NaN
4451 2023-12-26       NaN
4452 2023-12-27       NaN
4453 2023-12-28       NaN
4454 2023-12-29       NaN
4455 2023-12-30       NaN
4456 2023-12-31       NaN

In [ ]:
output_path = "/s3/scratch/jamie.towner/flood_aa/zimbabwe/data/observations/gauging_stations/katiyo.csv"
df_long.to_csv(output_path, index=False)