### Check *triggers* differences after dates alignment by comparing coverage with reference outputs - Mozambique

In [1]:
%cd ../..

/home/u/amine.barkaoui/anticipatory-action

In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
from config.params import Params

from AA.helper_fns import get_coverage

Get parameters

In [4]:
country = "MOZ"

In [5]:
params = Params(iso=country, index='SPI')

Get triggers

In [6]:
refGT = pd.read_csv(f"{params.data_path}/data/{params.iso}/triggers/triggers.spi.dryspell.{params.calibration_year}.GT.csv")
refNRT = pd.read_csv(f"{params.data_path}/data/{params.iso}/triggers/triggers.spi.dryspell.{params.calibration_year}.NRT.csv")

ref = pd.read_csv(f"{params.data_path}/data/{params.iso}/triggers/triggers.spi.dryspell.{params.calibration_year}.pilots.csv")

In [7]:
trigsGT = pd.read_csv(f"{params.data_path}/data/{params.iso}_align_dates/triggers/triggers.spi.dryspell.{params.calibration_year}.GT.csv")
trigsNRT = pd.read_csv(f"{params.data_path}/data/{params.iso}_align_dates/triggers/triggers.spi.dryspell.{params.calibration_year}.NRT.csv")

trigs = pd.read_csv(f"{params.data_path}/data/{params.iso}_align_dates/triggers/triggers.spi.dryspell.{params.calibration_year}.pilots.csv")

Compare coverages of Python GT and NRT triggers

In [8]:
# GENERAL TRIGGERS - NEW
columns = ["W1-Mild", "W1-Moderate", "W1-Severe", "W2-Mild", "W2-Moderate", "W2-Severe"]
get_coverage(trigsGT, params.districts, columns)

The coverage is 98.3 %

              W1-Mild W1-Moderate W1-Severe W2-Mild W2-Moderate W2-Severe
Caia                3           2         4       4           4         4
Changara            2           1         2       4           4         4
Chemba              2           4         2       4           4         4
Chibuto             4           4         3       3           3         2
Chigubo             4           4         3       3           3         3
Chicualacuala       4           4         3       3           2         2
Chiure              1           0         1       4           4         2
Funhalouro          4           3         2       3           3         3
Guija               4           4         3       3           2         3
Mabalane            4           4         4       3           3         3
Mabote              4           3         3       3           3         3
Mapai               4           4         3       3           3         3
Magude              3           4         3       3           2         1
Massangena          4           4         4       3           3         3
Massingir           4           3         2       3           3         3
Moamba              3           4         4       1           3         3
Marara              2           1         0       4           4         4
Cahora_Bassa        1           1         2       4           4         4
Magoe               2           3         2       4           4         2
Machanga            4           2         2       2           3         2

In [9]:
# GENERAL TRIGGERS - OLD
get_coverage(refGT, params.districts, columns)

The coverage is 96.7 %

              W1-Mild W1-Moderate W1-Severe W2-Mild W2-Moderate W2-Severe
Caia                4           4         4       4           1         4
Changara            4           4         4       2           0         2
Chemba              4           4         4       2           3         2
Chibuto             3           3         2       4           4         4
Chigubo             3           3         3       4           4         3
Chicualacuala       3           2         2       4           4         4
Chiure              4           4         3       1           1         2
Funhalouro          3           3         3       4           3         2
Guija               3           2         3       4           4         3
Mabalane            3           3         3       4           4         4
Mabote              3           3         3       4           3         4
Mapai               3           3         3       4           3         3
Magude              3           2         1       3           4         3
Massangena          3           3         3       4           4         4
Massingir           3           3         3       4           3         2
Moamba              1           3         3       3           4         4
Marara              4           4         4       1           0         0
Cahora_Bassa        4           4         4       1           0         2
Magoe               4           3         2       1           2         1
Machanga            2           2         2       4           1         2

In [10]:
# NON-REGRET TRIGGERS - NEW
get_coverage(trigsNRT, params.districts, columns)

The coverage is 100.0 %

              W1-Mild W1-Moderate W1-Severe W2-Mild W2-Moderate W2-Severe
Caia                4           4         4       4           4         4
Changara            4           4         4       4           3         3
Chemba              4           4         4       4           4         4
Chibuto             3           3         3       4           4         4
Chigubo             3           3         3       4           4         4
Chicualacuala       3           3         2       4           4         4
Chiure              4           4         4       4           2         2
Funhalouro          3           3         3       4           4         2
Guija               3           3         3       4           4         4
Mabalane            3           3         3       4           4         4
Mabote              3           3         3       4           4         3
Mapai               3           3         3       4           4         3
Magude              3           3         2       4           4         3
Massangena          3           3         3       4           4         4
Massingir           3           3         3       4           4         4
Moamba              3           3         3       4           4         4
Marara              4           4         4       4           4         1
Cahora_Bassa        4           4         4       4           3         4
Magoe               4           4         4       4           4         4
Machanga            4           4         3       4           4         2

In [11]:
# NON-REGRET TRIGGERS - OLD
get_coverage(refNRT, params.districts, columns)

The coverage is 100.0 %

              W1-Mild W1-Moderate W1-Severe W2-Mild W2-Moderate W2-Severe
Caia                4           4         4       4           4         4
Changara            4           4         4       4           4         3
Chemba              4           4         4       4           4         3
Chibuto             3           3         3       4           4         4
Chigubo             3           3         3       4           4         4
Chicualacuala       3           3         2       4           4         4
Chiure              4           4         4       4           1         3
Funhalouro          3           3         3       4           4         3
Guija               3           3         3       4           4         3
Mabalane            3           3         3       4           4         4
Mabote              3           3         3       4           4         4
Mapai               3           3         3       4           4         4
Magude              3           3         2       4           4         3
Massangena          3           3         3       4           4         4
Massingir           3           3         3       4           4         4
Moamba              3           3         3       3           4         4
Marara              4           4         4       3           3         2
Cahora_Bassa        4           4         4       4           2         4
Magoe               4           4         4       4           4         3
Machanga            4           4         3       4           4         2

Get coverage of final output

In [12]:
get_coverage(trigs, params.districts, columns)

The coverage is 100.0 %

              W1-Mild W1-Moderate W1-Severe W2-Mild W2-Moderate W2-Severe
Caia                4           4         4       4           4         4
Changara            4           4         4       4           3         3
Chemba              4           4         4       4           4         4
Chibuto             3           3         3       4           4         4
Chigubo             3           3         3       4           4         4
Chicualacuala       3           3         2       4           4         4
Chiure              4           4         4       4           2         2
Funhalouro          3           3         3       4           4         2
Guija               3           3         3       4           4         4
Mabalane            3           3         3       4           4         4
Mabote              3           3         3       4           4         3
Mapai               3           3         3       4           4         3
Magude              3           3         2       4           4         3
Massangena          3           3         3       4           4         4
Massingir           3           3         3       4           4         4
Moamba              3           3         3       4           4         4
Marara              4           4         4       4           4         1
Cahora_Bassa        4           4         4       4           3         4
Magoe               4           4         4       4           4         4
Machanga            4           4         3       4           4         2